POSTGRES_DB=api
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpass

DJANGO_DEBUG=False
DJANGO_SECRET_KEY=todo
DJANGO_DB_NAME=api
DJANGO_DB_USER=dbuser
DJANGO_DB_PASSWORD=dbpass
DJANGO_DB_HOST=0.0.0.0
DJANGO_DB_PORT=5432
DJANGO_STATIC_URL=static/
DJANGO_MEDIA_URL=media/
DJANGO_STATIC_ROOT=/var/www/static/
DJANGO_MEDIA_ROOT=/var/www/media/
DJANGO_SETTINGS_MODULE=config.settings
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=
